@import './vars';

@mixin circle($width) {
	width: $width;
	height: $width;
	line-height: $width;	
	text-align: center;
	border-radius: 50%;
}

* {
    box-sizing: border-box;
}

img, iframe {
    max-width: 100%;
}

a {
    color: $text_color;
    outline: none;
    font-weight: 500;
    text-decoration: none;

    .inverse & {
        color: #fff;
    }
}

input, button, textarea, a {
    outline: none;
}

p {
	margin: 0 0 1em 0;
}

.inverse {
    color: #fff;
}

.accent {
    color: $accent;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: 300;
}

.text {
    &-phone {
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

.hamburger {
    display: none;
    margin-left: 20px;
}

.grow {
    flex-grow: 1;
}

.button {
   position: relative;
   display: inline-block;
   text-decoration: none;
   padding: 13px 10px;
   font-size: 14px;
   line-height: 1;
   font-weight: normal;
   text-align: center;
   color: #fff !important;
   border: 0;
   cursor: pointer;
   border-bottom: 3px solid #2d6b04;
   background-image: -moz-linear-gradient( 90deg, rgb(51,136,9) 0%, rgb(100,179,6) 74%, rgb(122,206,2) 100%);
   background-image: -webkit-linear-gradient( 90deg, rgb(51,136,9) 0%, rgb(100,179,6) 74%, rgb(122,206,2) 100%);
   background-image: -ms-linear-gradient( 90deg, rgb(51,136,9) 0%, rgb(100,179,6) 74%, rgb(122,206,2) 100%);

   &:hover {
      background-image: -moz-linear-gradient( 90deg, rgb(122,206,2) 0%, rgb(100,179,6) 74%, rgb(51,136,9) 100%);
      background-image: -webkit-linear-gradient( 90deg, rgb(122,206,2) 0%, rgb(100,179,6) 74%, rgb(51,136,9) 100%);
      background-image: -ms-linear-gradient( 90deg, rgb(122,206,2) 0%, rgb(100,179,6) 74%, rgb(51,136,9) 100%);
   }    

   &:active {
    top: 1px;
   }
}

.input-div {
  position: relative;

  .input {
    width: 100%;  
  }
  
  label {
   color: #9d9c9c;
   text-align: left;
   font-size: 14px;
   display: block;
  }
}

.input, .textarea {
    background: transparent;
    color: #000;
    font-size: 14px;
    line-height: inherit;
    border: 1px solid #cfe0e9;
    background-color: #f9fbfb;
    font-family: $default_family, sans-serif;
    padding: 12px 20px 12px 35px;   
  
    &.error {
		border-color: red;
		color: red;

		&+.error-message {
			display: block;
		}
	}

	&+.error-message {
    display: none;
    text-align: left;
    color: red;
    padding-left: 35px;
    margin-top: 5px;
	}

	&::-webkit-input-placeholder {
    color: #828181;
    font-weight: 300;
		opacity: 1;
	}
	
	&::-moz-placeholder {
    color: #828181;
    font-weight: 300;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
    color: #828181;
    font-weight: 300;
		opacity: 1;
	}
	
	&.error::-webkit-input-placeholder {
		color: red;
	}
	
	&.error::-moz-placeholder {
		color: red;
	}
	
	&.error:-ms-input-placeholder {
		color: red;
	}
}

.form {
  text-align: left;

  &-info {
    font-size: 14px;
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .input-div {
    margin-right: 20px;
  }

  .input-div, .button {
    margin-bottom: 10px;
  }
}