
/* Medium Devices, Desktops */
.visible-xxs {
    display: none !important;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199.5px) {

   .header {
      &-slogan {
         display: none;
      }      
   }

   .main-menu {
      margin-top: 0;
   }

   .section {    
      &-main {
         background-position: center left;
      }
      &-klinika {
         &-content {
            padding-top: 0;
         }
         .klinika {
            &-carousel {
               max-width: 500px;
               top: 50px;
            }
            &-text {
               max-width: 380px;
               margin: 0 0 50px auto;
            }
         }
      }

      &-doctors {
         .doctor {
            &-text-block {
               padding: 10px;
            }
         }
      }

      &-voprosy {
         &-content {
            &-1, &-2 {
               width: 49%;
            }
         }
      }
   }

}

@media only screen and (max-width : 991.5px) {	


   .page-wrapper {
      padding-top: 95px;
   }

   .form {
      .input-div, .button {
         width: 32%;
      }
   }

   .hamburger {
      display: block;
   }    

   .header {
      &-phone {
         display: none;
      }

      &-address {
         display: none;
      }

      .grow {
         display: block;
      }
   }

   .footer {
      .main-menu {
         display: none !important;
      }
      .grow {
         display: block;
      }
   }

	.main-menu {
      display: none;
      background-color: #fff;
      position: fixed;
      top: 95px;
      left: 0;
      right: 0;
      text-align: left;
      margin-left: 0;
      z-index: 98;
      padding: 10px 0;

		ul {
			display: block;
			height: auto;
			padding: 0;

			li {
                margin: 0 0 5px;

                &:last-child {
                    margin: 0;
                }
			}
		}
   }

   .section {
      &-main {
         background-position: center center;
         &-content {
            flex-direction: column;
            justify-content: center;
         }

         &-block {
            margin: 0 auto 20px;
            text-align: center;
         }

         .form2 {
            margin: 0 auto;
         }
      }

      &-services {
         .service {
            width: 48%;
         }
      }

      &-klinika {
         &-content {
            display: flex;
            flex-direction: column;
         }
         .klinika {
            &-carousel {
               position: relative;
               top: 0;
               max-width: 690px;
               margin: 0 auto;
            }
            &-text {
               max-width: 100%;
               margin: 0 auto 50px;
            }
         }
      }      

      &-work {
         &-content {
            flex-direction: column;
         }
         .work {
            width: 100%;
         }
      }

      &-doctors {
         .doctor {
            &-title {
               font-size: 18px;
            }
            &-info {
               margin-bottom: 10px;
            }
         }
      }

      &-certificates {
         .slick {   
            &-track {
               padding: 70px 0;
            }
         }

         .slick-slide {         
            &.slick-center {
               transform: scale(1.5);
               z-index: 10;
            }         
         
            &.slick-center-prev {
               transform: scale(1) translateX(0px);
            }
         }
   
         .slick-center + .slick-slide {
            transform: scale(1) translateX(0px);
         }
      }

      &-reviews {
         .review {
            &-content {
               padding-left: 100px;
            }
         }
      }

      &-contact {
         &-content {
            position: static;            
         }
      }
   }

}

@media only screen and (max-width : 900.5px) {
   .more {
      &-content {
         align-items: flex-start;
      }

      &-img {
         max-width: 400px;
      }
   }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767.5px) {

   .header {
      &-title {
         display: none;
      }
      .logo {
         margin: 0;
      }
      .button {
         margin: 0;
      }
   }

   .form {
      form {
         flex-direction: column;
         align-items: center;
      }
      .input-div, .button {
         max-width: 500px;
         width: 100%;
      }
   }
    
   .section {
      &-title {
         font-size: 27px;
      }

      &-certificates {
         .slick {
            &-slider {
               padding: 0 100px;
            }
   
            &-track {
               padding: 0;
            }   
         }
   
         .slick-slide {         
            z-index: 0 !important;

            &.slick-center {
               transform: scale(1);
            }                  
         }   
      }      

      &-reviews {
         .review {
            flex-direction: column;

            &-content {
               margin-top: -170px;
               padding: 200px 30px 30px;
            }

            &-img {
               margin: 0 auto;
            }
         }
         
         .video {
            flex-direction: column;
            &-main {
               width: 100%;
               margin-bottom: 10px;
               iframe {
                  height: 320px;
               }
            }
            &-thumbs {
               margin: 0 auto;
               display: flex;
               max-width: 670px;
               width: 100%;
               align-items: flex-start;
               justify-content: center;
               height: auto;
            }
            &-thumb {
               margin-right: 10px;
            }
         }
      }
      
      &-contact {
         padding-bottom: 0;
         .map {
            height: 300px;
         }

         .contact {
            &-content {
               position: relative;
               margin: -50px auto 0;
               z-index: 2;
               right: 0;
            }

            &-block {
               padding: 15px 10px;

               &-text {
                  font-size: 16px;
               }

               &-button {
                  margin-bottom: 15px;
               }
            }            

            &-address {
               width: 130px;
               font-size: 10px;
            }
         }
      }

      &-voprosy {
         &-content {
            flex-direction: column;
            max-width: 500px;
            margin: 0 auto;
            &-1, &-2 {
               width: 100%;
            }
         }
      }

      &-stomatolog {
         .stomatolog {
            padding: 20px;
         }
      }
   }

   .more {
      padding: 25px;

      &-content {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      &-title {
         margin: 0 0 20px 0;
         text-align: center;
      }
      &-block {
         margin-left: 0;
         max-width: 490px;
      }
      &-img {
         max-width: 100%;
      }
      img {
         margin-bottom: 20px;
      }
   }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479.5px) {

   body {
      font-size: 14px;
   }

   .form {
      width: 100%;
      max-width: none;

      &-info {
         font-size: 11px;
      }

      .input-div, .button {
         width: 100%;
         margin: 0 0 10px;
      }
   }

   .form2 {
      &-title {
         padding: 20px;
         font-size: 16px;
      }
      form {
         padding: 20px 20px 0;
      }   
   }

   .button {
      width: 100%;
      min-width: auto;

      &.button-large {
         font-size: 16px;
      }
   }

	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
   }
    
   .visible-xxs {
      display: block !important;
   }

	.hidden-xxs {
		display: none !important;
   }

   .header {
      &-button {
         display: none;
      }
   }

   .section {
      padding: 40px 0;

      &-title {
         font-size: 21px;
         margin-bottom: 20px;
      }

      &-main {
         &-title{
            margin: 0;
            font-size: 23px;
            text-align: left;
         }

         &-text {
            display: none;
         }

         &-list {
            text-align: center;
         }

         &-item {
            font-size: 14px;
         }

         
      }

      &-services {
         &-content {
            justify-content: center;
         }
         .service {
            width: 100%;
            &-title {
               font-size: 20px;
            }
            &-button {
               .button-blue {
                  margin-right: 10px;
               }
            }
         }
      }

      &-klinika {
         &-text {
            font-size: 16px;
         }

         .klinika {
            &-text {
               margin: 0 auto 20px;
            }
         }
      }

      &-work {
         .work {
            flex-direction: column;
            align-items: center;
            &-img {
               margin-right: 0;
            }
            &-title {
               font-size: 16px;
               margin-bottom: 5px;
            }
            &-text-block {
               text-align: center;
            }
         }
      }

      &-doctors {
         .doctor {
            img {
               width: 100%;
            }

            &-title {
               font-size: 20px;
            }

            &-text-block {
               padding: 25px;
            }
         }
      }

      &-certificates {
         .slick {   
            &-slider {
               padding: 0 0px;
            }

            &-arrow {
               width: 35px;
               height: 41px;               
            }
   
            &-prev {
               background-image: url('../img/arrow-mini-left.png') !important;
            }
   
            &-next {
               background-image: url('../img/arrow-mini-right.png') !important;
            }
         }
      }

      &-reviews {
         .reviews-carousel {
            padding: 0;

            .owl {
               &-prev, &-next {
                  top: 100px;
                  margin-top: 0;
               }

               &-prev {
                  margin-left: -15px;
               }

               &-next {
                  margin-right: -15px;
               }
            }
         }

         .video {
            &-thumbs {
               flex-wrap: wrap;
            }
         }
      }

      &-voprosy {
         .vopros {
            &-button {
               font-size: 14px;
               padding: 10px 65px 10px 10px;
            }
            &-arrow {
               width: 60px;
            }
         }
      }
   }

   .owl-carousel {
      .owl {
         &-prev {
            background-image: url('../img/arrow-mini-left.png') !important;
         }

         &-next {
            background-image: url('../img/arrow-mini-right.png') !important;
         }

         &-prev, &-next {
            width: 35px;
            height: 41px;
            margin-top: -20.5px;
         }

         &-dot {
            width: 12px;
            height: 12px;
         }
      }
   }
   
   .more {
      &-title {
         font-size: 16px;
         text-align: left;
      }
      &-button {
         flex-direction: column;
         align-items: center;
         .button-blue {
            margin-bottom: 10px;
         }
         .button-blue, button {
            width: 100% !important;
         }
      }
   }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320.5px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}

@media only screen and (min-width : 1920px) {

}