
/* Medium Devices, Desktops */
.visible-xxs {
    display: none !important;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

   .header {
      &-slogan {
         display: none;
      }
      
   }

   .main-menu {
      margin-top: 0;
   }

   .section {    
      &-doctors {
         .doctor {
            &-text-block {
               padding: 10px;
            }
         }
      }
   }

}

@media only screen and (max-width : 991px) {	

    .form {
       &-title {
          font-size: 20px;
          margin: 15px;
       }
        &-content {
            justify-content: center;
            .input-div {
                margin: 0 15px 30px;
            }
        }
    }

    .hamburger {
        display: block;
    }    

    .header {
      &-phone {
         display: none;
      }

      &-address {
         display: none;
      }
    }

    .footer {
        text-align: center;
        &-content {
            flex-direction: column;
            & > * {
               margin: 0 0 20px 0 !important;            
            }
            .vopros-button {
               margin: 0 !important;
            }
            .grow {
               display: none;
            }
        }
    }

	.main-menu {
      display: none;
      background-color: #fff;
      position: fixed;
      top: 101px;
      left: 0;
      right: 0;
      text-align: left;
      margin-left: 0;
      z-index: 98;
      padding: 10px 0;

		ul {
			display: block;
			height: auto;
			padding: 0;

			li {
                margin: 0 0 5px;

                &:last-child {
                    margin: 0;
                }
			}
		}
    }

   .section {
      &-main {
         &-content {
            flex-direction: column;
            justify-content: center;
            .main-content {
               margin: 0 auto 20px;
               text-align: center;
            }
         }
         &-form {
            margin: 0 auto;
         }
      }

      &-services {
         &-content {
            
         }
         .service {
            width: 48%;
         }
      }

      &-form {
         .input-div, .button {
            width: 32%;
         }
      }

      &-work {
         &-content {
            flex-direction: column;
         }
         .work {
            width: 100%;
         }
      }

      &-doctors {
         .doctor {
            &-title {
               font-size: 18px;
            }
            &-info {
               margin-bottom: 10px;
            }
         }
      }
   }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    .logo {
        max-width: 200px;
    }

    .header {
        &-title {
           display: none;
        }
        .logo {
           margin: 0;
        }
        .button {
           margin: 0;
        }
    }
    
   .section {
      &-title {
         font-size: 27px;
      }

      &-form {
         .form-title {
            font-size: 24px;
         }
         form {
           flex-direction: column;
           align-items: center;
         }
         .input-div, .button {
            max-width: 500px;
            width: 100%;
         }
      }

      &-stomatolog {
         .stomatolog {
            padding: 20px;
            &-title {
               font-size: 22px;
            }
         }
      }
      
   }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {

  .remodal {
    &.remodal-small {
      padding: 25px 15px;
    }
  }


   .form {
      width: 100%;
      max-width: none;
         .input-div, .button {
            width: 100%;
            margin: 0 0 10px;
         }
   }

    .button {
        width: 100%;
        min-width: auto;

        &.button-large {
            font-size: 16px;
        }
    }

	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
    }
    
    .visible-xxs {
        display: block !important;
    }

	.hidden-xxs {
		display: none !important;
    }

    .header {
       &-button {
          display: none;
       }
    }

   .section {
      &-title {
         font-size: 25px;
         margin-bottom: 20px;
      }

      &-main {
         form {
            padding: 20px;
         }
      }

      &-services {
         &-content {
            justify-content: center;
         }
         .service {
            width: 100%;
         }
      }

      &-work {
         &-content {
         }
         .work {
            flex-direction: column;
            align-items: center;
            &-img {
               margin-right: 0;
            }
            &-text-block {
               text-align: center;
            }
         }
      }
   }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}

@media only screen and (min-width : 1920px) {

}