
/* Medium Devices, Desktops */
.visible-xxs {
    display: none !important;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199.5px) {

   .header {
      &-slogan {
         display: none;
      }
      
   }

   .main-menu {
      margin-top: 0;
   }

   .section {    
      &-klinika {
         &-content {
            padding-top: 0;
         }
         .klinika {
            &-carousel {
               max-width: 500px;
               top: 50px;
            }
            &-text {
               max-width: 380px;
               margin: 0 0 50px auto;
            }
         }
      }

      &-doctors {
         .doctor {
            &-text-block {
               padding: 10px;
            }
         }
      }

      &-voprosy {
         &-content {
            &-1, &-2 {
               width: 49%;
            }
         }
      }
   }

}

@media only screen and (max-width : 991.5px) {	


   .page-wrapper {
      padding-top: 95px;
   }
    .form {
       &-title {
          font-size: 20px;
          margin: 15px;
       }
        &-content {
            justify-content: center;
            .input-div {
                margin: 0 15px 30px;
            }
        }
    }

    .hamburger {
        display: block;
    }    

    .header {
      &-phone {
         display: none;
      }

      &-address {
         display: none;
      }

      .grow {
         display: block;
      }
    }

	.main-menu {
      display: none;
      background-color: #fff;
      position: fixed;
      top: 95px;
      left: 0;
      right: 0;
      text-align: left;
      margin-left: 0;
      z-index: 98;
      padding: 10px 0;

		ul {
			display: block;
			height: auto;
			padding: 0;

			li {
                margin: 0 0 5px;

                &:last-child {
                    margin: 0;
                }
			}
		}
    }

   .section {
      &-main {
         &-content {
            flex-direction: column;
            justify-content: center;
            .main-content {
               margin: 0 auto 20px;
               text-align: center;
            }
         }
         &-form {
            margin: 0 auto;
         }
      }

      &-services {
         &-content {
            
         }
         .service {
            width: 48%;
         }
      }

      &-klinika {
         &-content {
            display: flex;
            flex-direction: column;
         }
         .klinika {
            &-carousel {
               position: relative;
               top: 0;
               max-width: 690px;
               margin: 0 auto;
            }
            &-text {
               margin: 0 auto 50px;
            }
         }
      }

      &-form {
         .input-div, .button {
            width: 32%;
         }
      }

      &-work {
         &-content {
            flex-direction: column;
         }
         .work {
            width: 100%;
         }
      }

      &-doctors {
         .doctor {
            &-title {
               font-size: 18px;
            }
            &-info {
               margin-bottom: 10px;
            }
         }
      }

      &-contact {
         &-content {
            position: static;            
         }
      }
   }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767.5px) {

    .logo {
        max-width: 200px;
    }

    .header {
        &-title {
           display: none;
        }
        .logo {
           margin: 0;
        }
        .button {
           margin: 0;
        }
    }
    
   .section {
      &-title {
         font-size: 27px;
      }

      &-form {
         .form-title {
            font-size: 24px;
         }
         form {
           flex-direction: column;
           align-items: center;
         }
         .input-div, .button {
            max-width: 500px;
            width: 100%;
         }
      }

      &-stomatolog {
         .stomatolog {
            padding: 20px;
            &-title {
               font-size: 22px;
            }
         }
      }

      &-voprosy {
         &-content {
            flex-direction: column;
            max-width: 500px;
            margin: 0 auto;
            &-1, &-2 {
               width: 100%;
            }
         }
         .vopros {
            padding: 10px;
         }
      }

      &-reviews {
         .video {
            flex-direction: column;
            &-main {
               width: 100%;
               margin-bottom: 10px;
               iframe {
                  height: 320px;
               }
            }
            &-thumbs {
               margin: 0 auto;
               display: flex;
               max-width: 670px;
               width: 100%;
               align-items: flex-start;
               justify-content: center;
               height: auto;
            }
            &-thumb {
               margin-right: 10px;
            }
         }
      }
      
   }

   .more {
      &-content {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      &-title {
         margin: 0 0 20px 0;
      }
      &-block {
         text-align: center;
      }
      img {
         margin-bottom: 20px;
      }
   }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479.5px) {

  .remodal {
    &.remodal-small {
      padding: 25px 15px;
    }
  }


   .form {
      width: 100%;
      max-width: none;
         .input-div, .button {
            width: 100%;
            margin: 0 0 10px;
         }
   }

    .button {
        width: 100%;
        min-width: auto;

        &.button-large {
            font-size: 16px;
        }
    }

	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
    }
    
    .visible-xxs {
        display: block !important;
    }

	.hidden-xxs {
		display: none !important;
    }

    .header {
       &-button {
          display: none;
       }
    }

   .section {
      &-title {
         font-size: 25px;
         margin-bottom: 20px;
      }

      &-main {
         form {
            padding: 20px;
         }
      }

      &-services {
         &-content {
            justify-content: center;
         }
         .service {
            width: 100%;
         }
      }

      &-klinika {
         &-text {
            font-size: 20px;
         }
         .klinika {
            &-text {
               margin: 0 auto 20px;
            }
         }
      }

      &-work {
         &-content {
         }
         .work {
            flex-direction: column;
            align-items: center;
            &-img {
               margin-right: 0;
            }
            &-text-block {
               text-align: center;
            }
         }
      }

      &-reviews {
         .video {
            &-main {
            }
            &-thumbs {
               flex-wrap: wrap;
               // flex-direction: column;
            }
            &-thumb {
            }
         }
      }

      &-voprosy {
         .vopros {
            &-button {
               font-size: 14px;
               padding: 10px 65px 10px 10px;
            }
            &-arrow {
               width: 60px;
            }
         }
      }
   }

   .owl-carousel {
      .owl {
         &-prev, &-next {
            width: 40px;
            height: 50px;
         }
      }
   }
   

   .more {
      &-button {
         flex-direction: column;
         align-items: center;
         .button-blue {
            margin-bottom: 10px;
         }
         .button-blue, button {
            width: 100% !important;
         }
      }
   }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320.5px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}

@media only screen and (min-width : 1920px) {

}